.background {
    background: url("assets/game_background.jpg") center;
    height: 800px;
    width: 1420px;
    position: absolute;
    border: solid;
    
}
#Shigeo {
    background: url("assets/player.png") top;
    height: 100px;
    width: 100px;
    top: 700px;
    left: 710px;
    position: absolute;
}
.enemies {
    background: url("assets/boss.jpg")center top;
    height: 150px;
    width:100px;
    position: absolute;
}

#enemy {
    height: 800px;
    width:1200px;
    position:absolute;
}
.beam {
    background-image: url("assets/Beam.jpg");
    height:16px;
    width: 10px; 
    position: absolute;
    background: magenta;
}
#beams {
    height: 1200x;
    width:800px;
    position:absolute;
}